<% provide(:title, "Top") %>
<div class="col-md-7">
  <div class="center" style="margin-top:70px;">
    <h1 id="top-main-title">TaskApp</h1>
    <p>TaskAppは簡易ToDo管理ツールです。</p>
    <p>↓↓初めてのご利用↓↓</p>
    <a href="/signup" class="btn btn-lg btn-success">アカウント作成</a>
    <div style="margin-top:10px;">
    <% if !logged_in? %>
      <a href="#" class="btn btn-danger">ゲストログイン(管理権限)</a>
      <a href="#" class="btn btn-warning">ゲストログイン(一般権限)</a>
    <% end %>
    </div>
  </div>
</div>

<div class="col-md-4">
  <h1>ログイン</h1>
  <%= form_with(scope: :session, url: login_path, local: true) do |f| %>

    <%= f.label :email, "メールアドレス", class: "label-login" %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password, "パスワード", class: "label-login" %>
    <%= f.password_field :password, class: 'form-control' %>
    
    <%= f.label :remember_me, class: "checkbox inline checkbox-login", for: "remember-me" do %>
      <%= f.check_box :remember_me, id: "remember-me" %>
      <span>ログイン情報を記憶する</span>
    <% end %>

    <%= f.submit "Log In", class: "btn btn-primary btn-block btn-login" %>
  <% end %>
</div>
  
  
   